.remove-btn-wrapper {
    display: flex !important;
    justify-content: flex-end !important;
}

@media (max-width: 425px) {
    .remove-btn-wrapper {
        display: flex !important;
        justify-content: center !important;
    }
}
