.remove-btn-wrapper {
    display: flex !important;
    justify-content: flex-end !important;
}


@media (max-width: 425px) {
    .remove-btn-wrapper {
        display: flex !important;
        justify-content: center !important;
    }
}
.tab-text-dark
{
   /* color:rgb(19,147,29)!important; */
    color:rgb(28,217,41) !important;
}