.app-header {
    display: flex !important;
    justify-content: center !important;
    background-color: rgba(41, 41, 34, 0.8);
}

.app-header h2 {
    color: whitesmoke;
}

@media (max-width: 320px) {
    .app-header {
        display: none !important;
    }
}
